<h1>At this page you can find the profile of the developers.</h1>

<p>
  the information that we display here is the resume, the jobs we applied to. the points the developers earned. a picture
</p>
<h1>asdasd</h1>
