<h1 class="top-developers">Top Developers of the month</h1>

<section class="cards">
  <ul class="cards__list"><% @developers.each do |developer| %>
    <%= link_to developer_path(developer) do%>
    <li id="slide-card-1" class="card">
      <blockquote>

        <cite><%= "#{developer.first_name} #{developer.last_name}" %></cite>
      </blockquote>
    </li>
    <% end %>
    <% end %>
  </ul>
</section>



