#employer_container {
  width: 600px;
  padding: 5% 0 0;
  margin: auto;
}
.main-text {
  font-weight: 100px;
  color: #333;
  padding-bottom: 25px;
}
#employer_form {
  position: relative;
  background-color: #fff;
  width: 600px;
  margin: 0 auto 400px;
  padding: 45px;
  text-align: left;
  box-shadow: 1px 1px 2px #e7e7e7;
  border-radius: 4px;
}
#employer_form input {
  width: 100%;
  height: auto;
  margin: 0 0 15px;
  padding: 15px;
  outline: 0;
  border: none;
  background: #f2f2f2;
  box-sizing: border-box;
  font-size: 14px;
}
#employer_button {
  outline: 0;
  width: 100%;
  border: 0;
  padding: 15px;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

#employer_form .update-employer {
  margin-left: 10px;
  padding: 0 15px;
  border-radius: 3px;
  line-height: 40px;
  color: white;
  font-size: 14px;
  background-color: #D23333;
  transition: background-color 300ms;
}
