.vacancy{
  color: black;
  margin: 40px;
  font-size: 30px;
  font-family: cursive;
  padding: 20px;
}


.onejob{
  margin: 20px;
  padding: 40px;
  color: white;
  background-color: rgb(33, 132, 178);
  border-radius: 8px;

}

.h1 {
  font-size: 80px;
  font-family: monospace;
  padding: 45px;
  padding-color: blue;
}


.jjob {
  margin-bottom: 20px;
  padding: 30px;
  font-size: 26px;
}

.btn_new_job {
  padding: 20px;
  background: blue;
  border-radius: 10px;
  border: solid-black;
  color: white;
  margin-left: 60 px;
}

#skilltags {
  padding: 15px;
  background-color: grey;
  border-radius: 6px;
}
