.vacancy{
  color: blue;
  margin: 20px;
  font-size: 20px;
  margin: 40px;
  font-family: ARIAL;
  padding: 20px;
}

.container {
  margin: 30px;
  padding: 20px;
}

.onejob{
  margin: 100px;
  padding: 40px;
}

.h1 {
  font-size: 80px;
  font-family: monospace;
  padding: 45px;
  padding-color: blue;
}
