.vacancy{
  color: black;
  margin: 40px;
  font-size: 20px;
  margin: 40px;
  font-family: ARIAL;
  padding: 20px;
}


.onejob{
  margin: 20px;
  padding: 40px;
  color: white;
  background-color: rgb(33, 132, 178);
  border-radius: 8px;

}

.h1 {
  font-size: 80px;
  font-family: monospace;
  padding: 45px;
  padding-color: blue;
}
