.login-form {
  text-align: center;
}

.form-inputs {
  width:300px;
  margin: auto;
}

.linkedin{

 width:220px;
 margin: 20px auto;
}

.signup {
  display: inline-block;
  background-color: #D23333;
  margin-bottom: 10px;
  color: white;
  border: 1px solid #999999;
  padding: 10px 15px;
  border-radius: 50px;
  font-weight: lighter;
}
.signup:hover {
  opacity: 1;
  text-decoration: none;
  color: #999999;
}

