<h1 class="">apply to this job</h1>
<div class="vacancy">
  <%= @job.job_title %>
</div>
<div class="vacancy">
  <%= @job.salary %>
</div>
<div class="vacancy">
  <%= @job.description %>
</div>
<div class="vacancy">
  <%= @job.location %>
</div>
