<div class="container">
    <h1>These are all your jobs</h1>
      <% @jobs.each do |job| %>
<div class="jjob">

        <%= link_to "#{job.job_title}", employers_job_path(job) %>
        <br>
        <%= job.location %> <br>
      </div>
        <% end %>
</div>  <!-- end of container -->



<%= link_to "Add a new Job", new_employers_job_path, class: "btn_new_job"%>
