<br>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>Your Jobs</h3>
    </div>
  </div>
  <br>
  <div class="row">
    <% @jobs.each do |job| %>
    <div class="col-xs-12 col-md-6 col-lg-4">
      <div class="card jobs-card">
        <h4> <%= link_to "#{job.job_title}", employers_job_path(job), class: "jobs-title" %> </h4>
        <%= job.location %>
        <br>
        <%= job.employer.company_name %>
        <br>
      </div>
    </div>
    <% end %>
  </div>

<br><br>

<%= link_to "Add a new Job", new_employers_job_path, class: "navbar-wagon-button btn"%>
</div>

