<div class="container">
<h1 class="jobs-title">Edit your message</h1>

<%= render 'form' %>

<%= link_to "Cancel ", post_path(@post)%>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
