<div class="container">
<br><br>
  <div class="card">
  <h1 class="jobs-title">New post</h1>
  <%= render 'form' %>
  </div>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
