// Place all the styles related to the developers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//

.wrapper-resume-edit{
  max-width: 800px;
  text-align: center;
  margin: auto;
}

.resume-partial-title {
  color: #D23333;
}

.edit-profile-btn {
  display: inline-block;
  background-color: #D23333;
  margin-bottom: 10px;
  color: white;
  border: 1px solid #999999;
  padding: 10px 15px;
  border-radius: 50px;
  font-weight: lighter;
  height:45px;
  margin-left:auto;
}


.date {
  font-size:15px;
}

.skill {
  display: inline-block;
  background-color: #D23333;
  color: white;
  padding: 3px 6px;
  border-radius: 3px;
  font-weight: lighter;
  font-size: 12px;
  margin-top: 6px;
}

.developers-city {
  color: #7d7d7d;
  font-size: 14px;
}

.developers-skill {
  margin-top: 10px;
}

.developers-avatar {
  // position: absolute;
  border-radius:50%;
  min-width: 150px;
  height: 150px;
  // top: 15px;
  // left: 10px;
}

.developers-details {
  padding-left: 25px;
}

.developers-name {
  font-weight: bold;
  color: black !important;
}

.developers-card {
  display: flex;
}

.developer-profile{
  display:flex;
}

.basic-info {
  padding-left: 25px;
}

// .developer-work {
//   width: 800px;
//   background-color: white;
//   padding: 10px;
//   margin: 10px 0px 20px 30px;
// }

.developer-name {
  font-size: 30px;
  font-weight:3px;
}

.developer-info {
  margin-left: 10px;
}

.info_wrapper{
  width:inherit;
}

.top-developers-card {
  width : 250px;
  height : 170px;
  // position: relative;
  text-align: center;
}

.card-image {
 text-align: center;
}

.card-name {
    text-align:center;
    align-items: center;
}

.card-city {
  text-align: center;
}

.top-developers {
  text-align:center;
  padding-bottom: 20px;
}
.card {
  margin-bottom: 20px;
}

.developers-wrapper-signup{
  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
  background-color: #192f44;
  color: rgb(255,255,255);
  height: 300px;
  // text-align: center;
  // vertical-align: center;
}

.profile-avatar{

  width:170px;
  height: 170px;
  margin: 0px;
}

.avatar_developers {
  border-radius: 50%;
  width:80px;
  height: 80px;
}

.developer-signup-title {
  margin-top: 5px;
  margin-bottom: 25px;
}

// profile
.profile-city {
  font-size: 14px;
  color: #7d7d7d;
}

.profile-email, .profile-phone, .profile-linkedin {
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 10px;
  display: inline;
  padding-left: 7px;
}

.profile-name {
  margin: 0 0 5px 0;
  font-weight: bold;
}

.profile-icon {
  width: 14px;
}

@mixin clearfix() {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}


body {
  background: #f5f5f5;
}

$card-width: 670px;
$card-gap: 30px;
$card-total-width: $card-width + $card-gap;
$cards-quantity: 4;
$cards-speed: 50s;

.cards {
  overflow: hidden;
  .cards__list {
    display: flex;
    align-items: stretch;
    align-content: center;
    align-self: center;
    width: $card-total-width * $cards-quantity;
    padding: 0;
    @include clearfix;

    &:hover .card{
      -webkit-animation-play-state:paused;
      -moz-animation-play-state:paused;
      animation-play-state:paused;
    }

    li {
      float: left;
    }
  }
  .card {
    width: $card-width;
    animation-duration: $cards-speed;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    text-align: center;
    margin: 0 $card-gap 0 0;
    $card-padding: 20px;
    overflow: hidden;
    background: #fff;
    padding: $card-padding;

    & > a {
      color: inherit !important;
    }


    blockquote {
      padding: .5em 1.5em;
      font-size: 2rem;
      font-style: normal;
      font-weight: 300;
      line-height: 1.3em;
      margin: 0;

      cite {
        display: block;
        font-size: 1.2rem;
        text-transform: uppercase;
        font-style: normal;
      }
    }
  }
}

// Creating animations for each cards
$i: $cards-quantity;
@while $i > 0 {
  #slide-card-#{$i} {
    animation-name: cardslide-#{$i};
  }

  @-webkit-keyframes cardslide-#{$i} {

    // Creating percentages based on cards quantity
    $j: $cards-quantity;
    $moved: false;
    @while $j > 0 {
      $percentage: (100 / $cards-quantity) * ($cards-quantity - $j);

      @if $moved == false {
        #{$percentage}% {
          transform: translateX(- $card-total-width * ($cards-quantity - $j));
        }
        @if ($cards-quantity - $j) == $i {
          #{$percentage + 0.01}% {
            transform: translateX($card-total-width * ($cards-quantity - ($cards-quantity - $j)));
          }
          $moved: true;
        }
      } @else {
        #{$percentage}% {
          transform: translateX($card-total-width * $j);
        }
      }

      $j: $j - 1;
    }
    @if $i == $cards-quantity {
      99.99% {
        transform: translateX(- $cards-quantity * $card-total-width);
      }
    }

    100% {
      transform: translateX(0);
    }
  }

  $i: $i - 1;
}
